.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ************************ */
/* HEADER */
/* ************************ */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;

  /* Because we want header to be sticky */
  height: 5rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 4rem;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[id="icon-clear"] {
  display: none;
}

/* ************************ */
/* NAVIGATION */
/* ************************ */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-list:link,
.main-nav-list:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-list:hover,
.main-nav-list:active {
  color: #c778dd;
}

.main-nav-list.nav-contact:link,
.main-nav-list.nav-contact:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #c778dd;
  background-color: #000;
}

.main-nav-list.nav-contact:hover,
.main-nav-list.nav-contact:active {
  background-color: #c778dd;
  color: #000;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 5rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-home {
  margin-top: 9.6rem;
}

/* ************************ */
/* HOME SECTION */
/* ************************ */

.section-home {
  padding: 4.8rem 0 9.6rem 0;
  border-bottom: 1px solid #fff;
}

/* @media (max-width: 1200px) {
  .section-home {
    background-color: ;
  }
} */

.home {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.home-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.2rem;
}

.home-img-box {
  text-align: end;
}

.home-img {
  width: 50%;
  border-radius: 50%;
}

/* ************************ */
/* SECTION WORKS */
/* ************************ */

.section-works {
  padding: 4.8rem 0 9.6rem 0;
  border-bottom: 1px solid #fff;
}

.featured-works {
  align-items: center;
}

.work-list {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.work-about a {
  text-decoration: none;
}

.work-description {
  font-size: 2.4rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: -0.5px;
  line-height: 1.05;
}

.work-img {
  width: 50rem;
  height: 29.5rem;
}

/* ************************ */
/* SECTION SERVICE */
/* ************************ */

.section-service {
  padding: 4.8rem 0 9.6rem 0;
  border-bottom: 1px solid #fff;
}

.service {
  font-size: 3.4rem;
  text-align: center;
  padding-bottom: 4rem;
  text-transform: uppercase;
}

.what-logo {
  display: flex;
  justify-content: space-around;
  font-weight: 600;
  text-align: center;
  padding-bottom: 2rem;
}

.sect-what {
  background-color: #fff;
  padding: 5rem 2.4rem;
  width: 35%;
  height: 100%;
  margin: 2.5rem;
  border-radius: 1rem;
  box-shadow: 5px 4px 25px rgba(0, 0, 0, 0.25);
  transition: all 0.4s;
}

.sect-what:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.what-img {
  width: 20%;
  padding-bottom: 1rem;
}

.design-text,
.develop-text {
  font-size: 3rem;
  margin-bottom: 3rem;
  color: #000;
}

.design-about,
.develop-about {
  font-size: 2rem;
  color: #545353;
}

.icon-logo {
  display: flex;
  justify-content: space-evenly;
}

.brand-icon {
  width: 5%;
  transition: all 0.4s;
  fill: #fff;
}

.brand-icon:hover {
  transform: translateY(1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

#icon-html5:hover {
  fill: #e34f26;
  /* style:fill: var(--color2, #e34f26); */
}

#icon-css3:hover {
  fill: #1572b6;
}

#icon-javascript:hover {
  fill: #f7df1e;
}

#icon-react:hover {
  fill: #61dafb;
}

/* ************************ */
/* SECTION CONNECT */
/* ************************ */

.section-connect {
  padding: 4.8rem 0 9.6rem 0;
  /* border-bottom: 1px solid #fff; */
}

.connect .heading-primary {
  text-align: center;
}

.connect-form {
  display: flex;
  flex-direction: column;
  margin: 7rem auto 2rem auto;
  padding: 5rem 2rem 2.5rem 2rem;
  width: 40%;
  background-color: #fff;
  border-radius: 1rem;
}

.connect-form label {
  text-align: start;
  display: inline-block;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  color: #000;
}

.connect-form input,
.connect-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 2rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #000;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgb(255, 0, 187);
  margin-bottom: 2rem;
}

.connect-form input::placeholder {
  color: #c5c1c1;
}

.connect *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

#message {
  padding: 1.2rem;
  padding-bottom: 8rem;
  /* height: 8rem; */
  resize: none;
}

.btn--form {
  background-color: #c778dd;
  color: #000;
  padding: 1.2rem;
  width: 15rem;
  margin: auto;
  cursor: pointer;
}

.btn--form:hover {
  background-color: #000;
  color: #c778dd;
}

/* ************************ */
/* FOOTER */
/* ************************ */

.footer {
  padding: 4.8rem 0 9.6rem 0;
  border-bottom: 1px solid #fff;
}

.all-footer {
  width: 70rem;
  text-align: center;
}

.footer-link {
  display: flex;
  justify-content: space-around;
  padding-bottom: 9.6rem;
}

.footer-icon {
  width: 30%;
  /* style: "fill: var(--color3, #fff)"; */
  fill: #fff;
}

#icon-instagram:hover {
  /* style: "fill: var(--color3, #e4405f)"; */
  fill: #e4405f;
}

#icon-x:hover,
#icon-github:hover {
  fill: #000;
}

#icon-linkedin:hover {
  fill: #0077b5;
  /* style:"fill: var(--color3, #0077b5)" */
}

#icon-telegram:hover {
  fill: #2ca5e0;
  /* style:"fill: var(--color3, #2ca5e0)" */
}

#icon-fiverr:hover {
  fill: #1dbf73;
  /* style:fill: var(--color1, #1dbf73); */
}

#icon-indeed:hover {
  fill: #2164f3;
  /* style:fill: var(--color1, #2164f3); */
}

#icon-upwork:hover {
  fill: #6fda44;
  /* style:fill: var(--color1, #6fda44); */
}

.copyright {
  font-size: 1.8rem;
  color: #c778dd;
}

/* ************************ */
/* SECTION IMAGE */
/* ************************ */

.section-image {
  padding: 4.8rem 0 9.6rem 0;
  text-align: center;
}

.main-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.land-image {
  overflow: hidden;
  border-radius: 2rem;
  margin-bottom: 5rem;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.4);
}

.main-img {
  width: 100%;
  height: 100%;
}
